body {
  font-family: fantasy;
  background-color: rgb(52, 73, 94);
}

img {
  top: -55;
  position: absolute;
}

#run {
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-transform: scaleX(1);
  -webkit-animation-name: run;
  -webkit-animation-duration: 7s;
}

@-webkit-keyframes run {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
  }

  100% {
    left: 0;
  }

  5% {
    transform: translate(200px, 0px)
  }

  10% {
    transform: translate(1500px, 50)
  }

  25% {
    transform: translate(1700px, 50px)
  }

  35% {
    transform: translate(1890px, 70px)
  }

  50% {
    transform: translate(1700px, 70px) scaleX(-1);
  }

  60% {
    transform: translate(1500px, 70px) scaleX(-1);
  }

  75% {
    transform: translate(200px, 0) scaleX(-1);
  }

  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}

.line {
  positon: relative;
  top: 50%;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 48;
  text-align: center;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 12em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

h3 {
  height: calc(25vh - 8em);
  padding: .5em;
  position: relative;
  color: rgb(23, 32, 42);
  background-color: rgb(26, 82, 118);
  text-shadow: 2px 2px 0px rgb(86, 101, 115);
  border: 1px dashed #000;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  font-weight: bold;
  font-size: 20pt;
  color: rgb(46, 134, 193);
}

h2 {
  display: flex;
  width: 100%;
  font-size: 35;
  font-weight: bold;
  color: rgb(46, 134, 193);
  text-shadow: 1px 1px 0px rgb(28, 40, 51);
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2:before,
h2:after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

h2:after {
  margin: 0 0 0 20px;
}

footer {
  color: rgb(46, 134, 193);
  font-size: 17;
  text-shadow: 2px 2px 0px rgb(28, 40, 51);
}

p {
  text-align: left;
  font-weight: bold;
  font-style: italic;
  word-spacing: .01em;
  font-size: 19pt;
  letter-spacing: 0.05em;
  line-height: 1.8em;
}

ul {
  text-align: center;
  position: relative;
  list-style-image: url("https://www.fg-a.com/bullets/animated-bullet-2.gif");
}

input {
  width: 10.5%;
  height: 3.0%;
  position: relative;
  top: -3px;
  left: 10px;
}

button {
  text-shadow: 1px 1px 0px rgb(28, 40, 51);
  font-family: fantasy;
  font-size: 25;
  border: Black;
  background-color: rgb(26, 82, 118);
  width: 5.5%;
  height: 6.5%;
  border: 1px dashed #000;
}

form {
  font-size: 22;
}

a:link {
  color: rgb(46, 134, 193);
  text-shadow: 1px 1px 0px rgb(28, 40, 51);
  letter-spacing: 0.065em;
  font-size: 22;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  letter-spacing: 0.065em;
  font-size: 22;
  color: rgb(165, 105, 189);
  text-shadow: 1px 1px 0px rgb(28, 40, 51);
}

a:hover {
  color: rgb(165, 105, 189);
  text-shadow: 1px 1px 0px rgb(28, 40, 51);
  letter-spacing: 0.065em;
  font-size: 22;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  font-weight: bold;
  letter-spacing: 0.065em;
  font-size: 18;
  color: darkcyan;
}
